h1= @user.name
- if @user.summoner.nil?
  - if current_user == @user
    .alert.alert-info
      h3
        ' Você ainda não definiu seu
        strong Summoner Name
        ' !
      = form_for Summoner.new, url: '/summoners' do |t|
        .form-group
          .col-sm-10
            = t.text_field :name, class: 'form-control input-lg', placeholder: 'Summoner Name'
          .col-sm-2
            = t.submit 'Definir', class: 'btn btn-lg btn-block btn-primary'
      | \&nbsp;
- else
  = @user.summoner.name
  - if @user.summoner.fetched?
    | \- Level #{@user.summoner.level}
